POSTGRES_USER=taiwan_peaks
POSTGRES_PASSWORD=change_me_for_local_dev
POSTGRES_DB=taiwan_100_peaks

DATABASE_URL=postgresql+psycopg://taiwan_peaks:change_me_for_local_dev@localhost:5432/taiwan_100_peaks
CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080

HIKING_NOTE_COOKIE=name=value; another_name=another_value

